body{
    text-align: center;
}
form{
    width: 100px;
    height: 120px;
}
form#left{
    float:left;
    margin-left: 40%;
}
form#right{
    float:right;
    margin-right: 40%;
}
img{
    width: 50px;
    height: 50px;
    animation-name: hoho;
    animation-duration: 3s;
    animation-iteration-count: infinite;

}
input{
    width: 80px;
    height: 30px;
    font-size: 15px;
}
/* 커졌다 작아졌다 무한으로 실행*/
@keyframes hoho{
    0%{width: 50px;height: 50px;}
    50%{width: 80px;height: 80px;}
    100%{width: 50px;height: 50px;}
}



